body {
    padding: 0;
    margin: 0;
    background: #fff;
    font-size: 14px;
    font-family: "Lato", sans-serif;


}

.main {
    margin-left: 180px;
    margin-right: 180px;
    padding: 10px;
    height: 100vh;
}

input[type=button].button_one {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 32px;
    text-decoration: none;
    margin: 4px 6px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
}

input[type=button].button_two {
    background-color: #616161;
    border: none;
    color: white;
    padding: 12px 32px;
    text-decoration: none;
    margin: 4px 6px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    float: right;
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

a {
    text-decoration: none;
}

/*навигация слева*/
.nav-left {
    background-color: #f1f1f1;
    width: 180px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.nav-left ul li a {
    position: relative;
    color: #000000;
    display: block;
    text-align: center;
    padding: 15px;
    margin-bottom: 5px;
}

.nav-left ul li a:hover {
    color: #4CAF50;
}

.nav-left ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background: #ffffff;
}

/*навигация справа*/
.nav-right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 180px;
    background-color: #f1f1f1;
    transition: 1s all ease;
}

.nav-right ul li a {
    position: relative;
    color: #000000;
    display: block;
    text-align: center;
    padding: 15px;
    margin-bottom: 5px;
}

.nav-right ul li a:hover {
    color: #4CAF50;
}

.nav-right ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background: #ffffff;
}

.hideNav {
    display: none !important;
}

.showNav {
    display: block;
}

.page {
    background-color: #eecccc;
}

.beige {
    background-color: beige;
}

.grey {
    background-color: grey;
}
.container{
     text-align: center;
}
.container input[type=text] {
    background-color: white;
    width: 470px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
}
.container input[type=text]:focus {
    border: 3px solid #555;
}
.container input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}
/*Модальное окно*/
#modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 1;
}
.small-container{
    margin: 25vh 25vw;
    width: 50vw;
    height: 50vh;
    background: white;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
}
.small-container .closeModal{
    position: absolute;
    right: 15px;
    top: 15px;
}
.show{
    display: block !important;
}
/* Аккордеон */
.accordion {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.accordion div {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #777777;
    line-height: 1.4;
    width: 700px;
}

.accordion a {
    font-weight: 400;
    text-decoration: none;
}

.accordion h5 {
    font-size: 20px;
    margin: 10px 0;
}

.panel-heading {
    margin-top: 5px;
}

.panel-heading a {
    background: #616161;
    color: #ffffff;
    display: block;
    padding: 10px 40px 10px 15px;
    position: relative;
    transition: 0.3s;
}

.panel-heading a:hover {
    background: #ccc;
}

.panel-heading a i {
    font-size: 16px;
    width: 30px;
}

.panel-heading a::after {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    right: 15px;
    transition: 0.3s;
}

.panel-heading.in a::after {
    transform: rotate(180deg);
}

.panel-heading.in a {
    background: #4CAF50;
}

.panel-collapse {
    display: none;
    padding-bottom: 20px;
}

.wrapper-ul {
    display: flex;
    justify-content: space-around;
}

.wrapper-ul.df {
    justify-content: flex-start;
}

.wrapper-ul ul {
    margin-top: 5px;
    padding-left: 20px;
    list-style-type: none;
}

.wrapper-ul li {
    position: relative;
}

.wrapper-ul li::before {
    content: '\f105';
    font-family: "FontAwesome";
    position: absolute;
    left: -13px;
    top: 0;
    color: #4CAF50;
    transition: 0.5s;
}

.wrapper-ul li a {
    color: #4CAF50;
}

.wrapper-ul li:first-child::before {
    content: '';
}

.wrapper-ul li:first-child {
    color: #333333;
    font-weight: 500;
}

.wrapper-ul li a:hover {
    color: #4CAF50;
}

.wrapper-ul li:hover::before {
    transform: translateX(4px);
    color: #4CAF50;
}

.button {
    margin-top: 20px;
}

.button a {
    background: #4CAF50;
    color: #ffffff;
    padding: 8px 25px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #4CAF50;
    transition: 0.3s;
}

.button a:hover {
    background: #4CAF50;
}
/* Табы */
#tabs {
    margin: 40px auto;
    width: 700px;
}

.tabs-nav {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
}

.tabs-nav li {
    display: table-cell;
    float: none;
    margin: 0;
    padding: 0;
}

.tabs-nav a {
    display: block;
    padding: 10px 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #fbfbfb;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: #999;
}

.tabs-nav li:first-child a {
    border-radius: 5px 0 0 0;
}

.tabs-nav li:last-child a {
    display: block;
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tabs-nav a.active {
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #000;
}

.tabs-items {
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background: #fff;
}
.tabs-item {
    padding: 15px;
}